<div class="flex flex-col w-full">
    <h2 class="text-3xl mt-4 text-gray-800 mb-8 font-bold ">Unfullfilled Orders</h2>
    <div class="overflow-x-auto">
      <table class="min-w-full bg-gray-100" style="border-collapse: separate; border-spacing: 0;">
      <thead>
        <tr class="text-gray-800">
          <th class="px-6 py-3 border-b-2 border-gray-200 bg-gray-100">Order ID</th>
          <th class="px-6 py-3 border-b-2 border-gray-200 bg-gray-100">Customer</th>
          <th class="px-6 py-3 border-b-2 border-gray-200 bg-gray-100">Date</th>
          <th class="px-6 py-3 border-b-2 border-gray-200 bg-gray-100">Amount</th>
        </tr>
      </thead>
      <tbody class="text-gray-700">
        <% @orders.each do |order| %>
          <tr>
            <td class="px-6 py-4 border-b border-gray-200">
              <%= link_to order.id, admin_order_path(order), class: "underline" %>
            </td>
            <td class="px-6 py-4 border-b border-gray-200">
              <%= order.customer_email %>
            </td>
            <td class="px-6 py-4 border-b border-gray-200">
              <%= order.created_at.strftime("%B %d, %Y %H:%M") %>
            </td>
            <td class="px-6 py-4 border-b border-gray-200">
              <%= (order.total/100.0).to_s %>
            </td>
          </tr>
        <% end %>
      </tbody>
      </table>
    </div>
  </div>