<div class="container mx-auto py-2 bottom-0 w-full">
  <div class="flex flex-col items-center justify-center sm:flex-row ml-48">
    <p class="text-center font-body font-light text-primary dark:text-white sm:mr-auto sm:text-left ml-80">
      ©2020 Clarify. 
      <a href="/" class="ml-2">
        <i class="fa-solid fa-cart-shopping"></i>
      </a>
    </p>
  </div>
</div>
